.home-route {
  max-width: 1200px;
  margin: auto;
  padding-top: 24px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 24px;
  padding-bottom: 2px;
}